backports.cached-property==1.0.2
grpcio==1.51.3
grpcio-tools==1.51.3
overrides==7.3.1
protobuf==4.22.1
robotframework==6.0.2
robotframework-assertion-engine==1.0.0
robotframework-browser==16.0.2
robotframework-pythonlibcore==4.1.2
typing_extensions==4.5.0
wrapt==1.15.0
